
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin transition($duration) {
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -ms-transition: $duration;
    -o-transition: $duration;
    transition: $duration;
}